//Prefix
//l__

.l__left {
	float: left;
}
.l__right {
	float: right;
}
.l__error {
	color: $errorcolor;
}
.l__success {
	color: $successcolor;
}
.l__aligncenter {
	text-align: center;
}
.l__alignright {
    text-align: right;
}