h1, h2, h3, h4, h5, h6 {
	color: $primaryColor;
	font-weight: 700;
	line-height: 1.257142857142857em;
	margin: 0 0 1em;
}

h1 {
    font-size: relSize(42, 16);
    line-height: relSize(39, 42);
    margin-bottom: relSize(20, 42);
    text-transform: uppercase;
}

h2 {
    font-size: relSize(25, 16);
    letter-spacing: -1px;
    line-height: relSize(28, 25);
    text-transform: uppercase;
}

h3 {
    font-size: relSize(18, 16);
    line-height: relSize(20, 18);
    margin-bottom: relSize(20, 18);
    text-transform: uppercase;
}

h4 {
    font-size: relSize(16, 16);
    line-height: relSize(18, 16);
    margin-bottom: relSize(20, 16);
    text-transform: uppercase;
}

h5 {
    font-size: relSize(14, 16);
    line-height: relSize(16, 16);
    margin-bottom: relSize(16, 16);
    text-transform: uppercase;
}

a {
    color: $tertiaryColor;
	text-decoration: none;
	transition: all ease-in-out 0.2s;
	&:hover, &:focus, &:active {
        outline: none;
		text-decoration: none;
	}
}

.cta {
    font-size: relSize(14, 16);
    font-weight: 600;
    line-height: relSize(20, 14);
    text-transform: uppercase;
}

p {
	margin: 0 0 $ratio#{em} 0;
}

//Lists
ul {
	margin: 0 0 $ratio#{em};
	padding: 0 0 0 1.875em;
	li {
		padding: 0;
	}
	ul {
		margin-bottom: 0;
	}
	&.inline-list {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			margin: 0;
			padding: 0;
		}
	}
    &.nolist {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
        }
    }
}
ol {
    counter-reset: item;
    list-style: none;
    margin: 0 0 $ratio#{em};
	padding: 0 0 0 1.875em;
    li {
        counter-increment: item;
        padding: 0;
        position: relative;
        &::before {
            content: counters(item, ".") ". ";
            font-size: 11px;
            font-weight: 600;
            margin-right: 5px;
        }
    }
    ol {
        margin-bottom: 0;
    }
    &.nolist {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
        }
    }
}
dl {
	margin: 1.25em 0;
	dd, dt {
		padding: 0 0 0.625em 0;
	}
}